<template>
    <div id="home-form">
        <div>
            <h1 class="title">Tech Test</h1>
            <p><b>Bienvenido.</b> Ingresa tu información.</p>

            <p>Este es el formulario de home!</p>
            <p>Este es otro parrafo para la rama ramaPrueba</p>
            <p>Bienvenido a la aplicacion</p>
        </div>
        
        <div id="form" :class="{closed: showTable}">
            <form @submit.prevent="showMyTable">
            <Input 
                placeholder="Nombre"
                :rules="['required']"
                @validate="setValue(name, $event)"
                type="text"/>

                <Input 
                placeholder="Apellidos"
                :rules="['required']"
                @validate="setValue(last, $event)"
                type="text"/>

                <Input 
                placeholder="Correo"
                :rules="['email', 'required']"
                @validate="setValue(email, $event)"
                type="text"/>

                <Input 
                placeholder="Contraseña"
                :rules="['required']"
                @validate="setValue(password, $event)"
                type="password"/>
                <input type="submit" :disabled="!valid">
            </form>
        </div>
        <TestComponent/>
        <HomeTest/>
        <transition name="table">
            <div id="table" v-if="showTable">
                <table>   
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Otro</th>
                    </tr>
                    <tr v-for="(item, index) in items" :key="index">
                        <td>{{item.name}}</td>
                        <td>{{item.last}}</td>
                        <td>{{item.email}}</td>
                        <td>otro</td>
                    </tr>
                </table>
            </div>
        </transition>
    </div>
</template>

<script>
    import Input from './../Common/Input'
    import {eventBus} from './../../main.js'
    import TestComponent from './../TestComponent/TestComponent'
    import HomeTest from './HomeTest.vue'

    export default{
        data(){
            return {
                name: {
                    valid: false,
                    value: ''
                },
                last: {
                    valid: false,
                    value: ''
                },
                email: {
                    valid: false,
                    value: ''
                },
                password: {
                    valid: false,
                    value: ''
                },
                showTable: false,
                items: []
            }
        },
        components: {
            Input,
            TestComponent,
            HomeTest
        },
        computed: {
            hasErrors(){
                return this.error > 0
            },
            valid(){
                if(this.name.valid && this.last.valid && this.email.valid && this.password.valid){
                    return true
                }else{
                    console.log(false)
                    return false
                }
            }
        },
        methods: {
            showMyTable(){
                this.showTable = true
                eventBus.$emit('clearForm')
                let item = {
                    name: this.name.value,
                    last: this.last.value,
                    email: this.email.value
                }
                this.items.push(item)
            },
            setValue(field, event){
                field.valid = event.valid
                field.value = event.value
            }
        }
    }
</script>

<style lang="scss">
    html{
        background-color: #d3d3d3;
    }

    .table-enter-active, .table-leave-active{
        transition: opacity 0.5s;
    }

    .table-enter, .table-leave-to{
        opacity: 0;
    }

    #home-form{
        
        h1, p{
            color: #444;
        }
        
        #form{
            width: 16rem;
            margin: auto;
            overflow: hidden;
            transition: all 0.5s;
            input[type=submit]{
                width: 100%;
                height: 3rem; 
                outline: none;
                background-color: #444;
                box-shadow: none;
                border-radius: 5px;
                border: 1px solid transparent;
                color: #fff;
                font-weight: bold;
                transition: all 0.2s;
                
                &:hover{
                    background-color: #000;
                }

                &:disabled{
                    background-color: rgb(196, 87, 87);
                }
            }
        }
        #table{
            width: 50%;
            margin: auto;
            
            table{
                margin-top: 2rem;
                border-collapse: collapse;
                width: 100%;
                td, th{
                    width: 33%;
                    border: 1px solid #444;
                    background-color: #fff;
                    padding: 0.5rem;
                }
                th{
                    background-color: #444;
                    color: #fff;
                }
            }
        }
        
    }
</style>
