<template>
    <div>

       Aqui se agregó un nuevo cambio
       <p>Que va a suceder?</p>

        <p>Home test</p>
        <p>Este es un compoentne de pruebas para git</p>
        <h1>Hola mundo</h1>
    </div>
</template>