<template>
    <div>
        <input 
            :type="type" 
            :placeholder="placeholder" 
            v-model="value" 
            @focus="validate"
            @keyup="validate"
            :class="{hasError: showMessage}">
        <span class="error-message" v-if="showMessage">{{message}}</span>
    </div>
</template>

<script>
    import {eventBus} from './../../main.js'
    export default {
        data(){
            return {
                value: '',
                message: ''
            }
        },
        props: {
            name:{
                type: String
            },
            placeholder: {
                type: String
            },
            rules: {
                type: Array
            },
            type: {
                type: String
            }
        },
        computed: {
            showMessage(){
                if(this.message != ''){
                    return true
                }else {
                    return false
                }
            }
        },
        methods: {
            relax(){
                this.message = ''
            },
            validate(){
                if(this.rules.includes('required')){
                    if(!this.required()){
                        this.$emit('validate', {value: this.value, valid: false})
                        return 
                    }
                }
                
                if(this.rules.includes('email')){
                    if(!this.email()){
                        this.$emit('validate', {value: this.value, valid: false})
                        return
                    }
                }
                console.log('holaaa')
                this.$emit('validate', {value: this.value, valid: true})
            },
            required(){
                if(this.value == ''){
                    this.message = 'El campo es requerido'
                    return false
                }else {
                    this.message = ''
                    return true
                } 
            },
            email(){
                let regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/igm
                if(regex.test(this.value) && this.required()){
                    this.message = ''
                    return true
                }else {
                    this.message = 'Error en el correo'
                    return false
                }
            }
        },
        created(){
            eventBus.$on('clearForm', () => {
                this.value = ''
                this.message = ''
            })
        }
    }
</script>

<style lang="scss" scoped>
    input{
        color: #444;
        font-weight: bold;
        width: 100%;
        height: 3rem;
        margin-bottom: 0.7rem;
        border-radius: 5px;
        padding: 0.5rem;
        box-shadow: none;
        box-sizing: border-box;
        border: none;
        background-color: #ffffff;
        &::placeholder{
            font-weight: bold;
        }
        &:focus{
            border: 2px solid #444;
            box-shadow: none;
            outline: none;
        }
        &:after{
            content: 'fernando';
            color: white;
        }

        &.hasError{
            border: 2px solid rgb(196, 87, 87);
            margin-bottom: 0px;
        }
        &::placeholder{
            color: #999;
        }
    }
    .error-message{
        display: block;
        color: rgb(196, 87, 87);
        font-size: 0.8rem;
        margin: 0.1rem;
    }
</style>
